<%- include('navbar.ejs') %>
    <!DOCTYPE html>
    <html lang="en" ng-app="quizApp">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Quiz - QuizMania</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <style>
            a {
                text-decoration: none;
            }

            .form-control,
            .form-select {
                border: 1px solid orange;
            }

            .input-group-text {
                background-color: black;
                color: white;
            }
        </style>
    </head>

    <body ng-controller="QuizController">
        <div id="notAuthenticatedMessage" class="alert alert-danger text-center" style="display: none;">
            <p>You are not logged in. 😢</p>
            <p>Redirecting to login page in <span id="countdown">{{ countdownValue }}</span> seconds...</p>
            <p><a href="/login">Click here to log in</a></p>
        </div>
        <div ng-if="authenticated">
            <div class="row mx-1">
                <div class="d-flex align-items-center justify-content-center mt-3">
                    <img src="/logo.jpg" alt="Logo" style="height: 3em; border-radius:50%;" />
                    <h3 class="ms-5" style="font-family: 'Times New Roman', Times, serif;"><b>Create Your Challenge<b>
                    </h3>
                </div>
                <div class="col-md-2"></div>

                <div class="container mt-4 col-md-8">
                    <div class="mb-3">
                        <label for="quiz-topic" class="form-label">Quiz Topic</label>
                        <input type="text" class="form-control" ng-model="quizTopic" name="quizTopic" id="quizTopic"
                            placeholder="Enter quiz topic">
                    </div>

                    <div id="question-container">
                        <div class="card mt-3" ng-repeat="question in questions track by $index"
                            style="border:1px solid black">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">Question {{$index + 1}}</h5>
                                    <div>
                                        <i class="fa-solid fa-clock"></i>
                                        <span style="border: 2px solid orange;border-radius: 5px;">
                                            <input id="timerValue" ng-model="question.timerValue" type="number" min="10" max="180" value="30"
                                                style="padding-left: 5px;width: 50px;height: 20px;" ng-min="10" ng-change="checkAndUpdateTimerValue($index)">
                                            <span style="font-weight: 500;padding-right: 5px;">in sec</span>
                                        </span>
                                    
                                        <i class="delete-question fa-regular fa-trash-can fa-lg mt-2" style="color: #ff0000;" ng-click="removeQuestion($index)"></i>
                                    </div>
                                    
                                    
                                </div>
                                <div class="mb-3" style="display: flex; align-items: center;">
                                    <div class="input-group" style="flex: 1;">
                                        <span class="input-group-text">Q</span>
                                        <input type="text" class="form-control" ng-model="question.question"
                                            style="height: 50px; background-color: rgba(0, 192, 214, 255); border: 1px solid skyblue;"
                                            placeholder="Type your question">
                                    </div>
                                  
                                    <div style="margin-left: 10px;">
                                        <i class="fas fa-image fa-lg"
                                            style="cursor: pointer; font-size: 24px; color: #333;"
                                            ng-click="openImageUploadModal($index)"></i>
                                        
                                    </div>


                                </div>



                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <div class="mb-3" ng-repeat="option in question.options track by $index">
                                            <div class="input-group">
                                                <span class="input-group-text">{{option.letter}}</span>
                                                <input type="text" class="form-control" ng-model="option.text"
                                                    placeholder="Type your option {{option.letter}}">
                                                <!-- Button to delete the option -->
                                                <button class="btn btn-danger"
                                                    ng-click="deleteOption(question, $index)">
                                                    <i class="fas fa-times-circle"></i>
                                                </button>
                                            </div>

                                        </div>
                                        <button style="margin-bottom: 10px;" class="btn btn-success"
                                            ng-click="addOption(question)">
                                            <i class="fas fa-plus-circle"></i> Option
                                        </button>

                                        <div class="mb-3">
                                            <div class="input-group">
                                                <span class="input-group-text">Correct Answer</span>
                                                <select class="form-select" ng-model="question.answer">
                                                    <option disabled selected>Select Correct Answer</option>
                                                    <option ng-repeat="option in question.options"
                                                        value="{{option.letter}}">{{option.letter}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 d-flex justify-content-between">
                        <div>
                            <button class="btn btn-primary" ng-click="addQuestion()">Add Question</button>
                        </div>
                        <div>
                            <button class="btn btn-secondary" ng-click="previewQuiz()">Preview Quiz</button>

                        </div>


                    </div>

                </div>
                <div class="mt-3 d-flex justify-content-between m-5">
                    <div class="form-check">
                        <input class="form-check-input"
                            onclick="document.getElementById('checkboxValue').innerHTML=document.getElementById('checkboxValue').innerHTML=='no'?'yes':'no'"
                            type="checkbox" id="randomQuestionCheckbox" style="border: 2px solid black;"
                            ng-model="randomQuestion">
                        <label class="form-check-label" for="randomQuestionCheckbox">
                            Randomise questions
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input"
                            onclick="document.getElementById('checkboxValue2').innerHTML=document.getElementById('checkboxValue2').innerHTML=='no'?'yes':'no'"
                            type="checkbox" id="AttemptsCheckbox" style="border: 2px solid black;"
                            ng-model="AttempsBox">
                        <label class="form-check-label" for="AttemptsCheckbox">
                            Enable single attempt
                        </label>
                    </div>
                </div>
            </div>

            <!-- Modal for Quiz Preview -->
            <div class="modal" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="previewModalLabel">Preview Quiz </h5>
                        </div>
                        <div class="modal-body">
                            <div id="preview-questions">
                                <!-- Questions and options container -->
                                <div class="mb-3" ng-repeat="previewQuestion in previewQuestions">
                                    <strong>Question {{$index + 1}}:</strong> {{previewQuestion.question}}<br>
                                    <img ng-if="previewQuestion.imageFromDevice"
                                        ng-src="{{previewQuestion.imageFromDevice}}" alt="Question Image">
                                    <img ng-if="previewQuestion.imageUrl" ng-src="{{previewQuestion.imageUrl}}"
                                        alt="Question Image">

                                    Options:<br>
                                    <span ng-repeat="option in previewQuestion.options">{{option.letter}}.
                                        {{option.text}}<br></span>
                                    <strong>Correct Answer:</strong> {{previewQuestion.answer}}
                                </div>
                                <div>
                                    Randomize Questions: <span id="checkboxValue">no</span>
                                </div>
                                <div>
                                    Single Time Play: <span id="checkboxValue2">no</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                ng-click="backToEditing()">Back to Editing</button>
                            <button id="confirm-quiz" class="btn btn-success" ng-click="confirmQuiz()">Confirm
                                Quiz</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal for Image Upload -->
            <div class="modal" id="imageUploadModal" tabindex="-1" role="dialog" aria-labelledby="imageUploadModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageUploadModalLabel">Upload Image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                ng-click="closemodal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" ng-if="!questions[modalIndex].imageUrl">
                                <label for="imageFile">Upload Image from Device:</label>
                                <input type="file" class="form-control-file" accept="image/*"
                                    onchange="angular.element(this).scope().validateImageFile(this)" id="imageFile"
                                    ng-model="questions[modalIndex].imageFromDevice">
                            </div>
                            <div class="form-group" ng-if="!questions[modalIndex].imageFromDevice">
                                <label for="imageUrl">Or Paste Image URL:</label>
                                <input type="text" class="form-control" id="imageUrl" placeholder="Enter image URL"
                                    ng-model="questions[modalIndex].imageUrl">
                            </div>
                            <!-- Image preview -->
                            <img ng-src="{{ questions[modalIndex].imageFromDevice || questions[modalIndex].imageUrl }}"
                                class="img-fluid" alt="Image Preview"
                                ng-show="questions[modalIndex].imageFromDevice || questions[modalIndex].imageUrl">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                ng-click="closemodal()">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="handleImageUpload()"
                                ng-if="questions[modalIndex].imageFromDevice">Upload</button>
                            <button type="button" class="btn btn-primary" ng-click="handleImageUpload()"
                                ng-if="questions[modalIndex].imageUrl">Update</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script>


            var app = angular.module('quizApp', []);
            
            app.controller('QuizController', function ($scope, $interval, $timeout, $window, $http) {
                $scope.questions = [];

              
                $scope.modalIndex = null;

                $scope.checkAndUpdateTimerValue = function(index) {
                    console.log("esdxcds")
        var minValue = 10;
        if ($scope.questions[index].timerValue < minValue) {
            alert("Timer value cannot be less than 10. Setting it to 10.");
            $scope.questions[index].timerValue = minValue;
        }
    };

                $scope.validateImageFile = function (input) {
                    var file = input.files[0];

                    if (file) {
                        // Check if the file type is an image
                        if (file.type.startsWith('image/')) {
                            
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $scope.$apply(function () {
                                    
                                    $scope.questions[$scope.modalIndex].imageFromDevice = e.target.result;
                                });
                            };
                            reader.readAsDataURL(file);
                        } else {
                           
                            $scope.uploadedImage = null;
                            input.value = null;
                            alert('Please select a valid image file.');
                        }
                    }
                };

                $scope.openImageUploadModal = function (ind) {
                    console.log($scope.questions[ind]);
                    $scope.modalIndex = ind;
                    $('#imageUploadModal').modal('show');
                };

                $scope.deleteOption = function (question, optionIndex) {
                
                    if (question.options.length > 2) {
                        question.options.splice(optionIndex, 1);
                     
                        for (let i = 0; i < question.options.length; i++) {
                            question.options[i].letter = String.fromCharCode('A'.charCodeAt(0) + i);
                        }
                    } else {
                        alert('Cannot delete the last option. Each question must have at least two option.');
                    }
                };


                $scope.closemodal = function () {
                    $scope.questions[$scope.modalIndex].imageFromDevice = null;
                    $scope.questions[$scope.modalIndex].imageUrl = null;
                    $('#imageUploadModal').modal('hide');

                }

                $scope.handleImageUpload = function () {
                    var imageFromDevice = $scope.questions[$scope.modalIndex].imageFromDevice;

                    if (imageFromDevice) {
                        // Converting the base64 image data to a Blob
                        var binaryImage = atob(imageFromDevice.split(',')[1]);
                        var arrayBuffer = new ArrayBuffer(binaryImage.length);
                        var uint8Array = new Uint8Array(arrayBuffer);
                        for (var i = 0; i < binaryImage.length; i++) {
                            uint8Array[i] = binaryImage.charCodeAt(i);
                        }
                        var blob = new Blob([arrayBuffer], { type: 'image/png' });

                        var formData = new FormData();
                        formData.append('image', blob, 'image.png');

                        // Make an HTTP POST request to the server endpoint
                        $http({
                            method: 'POST',
                            url: '/upload',
                            headers: { 'Content-Type': undefined },
                            data: formData,
                            transformRequest: angular.identity
                        })
                            .then(function (response) {
                                var imagePath = response.data.imagePath;
                                if (imagePath) {
                                    $scope.questions[$scope.modalIndex].imageFromDevice = '';
                                    $scope.questions[$scope.modalIndex].imageUrl = imagePath;

                                }})
                            .catch(function (error) {
                              
                                console.error('Error uploading image:', error);
                            })
                            .finally(function () {
                                //hide the modal in every case
                                $('#imageUploadModal').modal('hide');
                            });
                    } else {
                        $('#imageUploadModal').modal('hide');
                    }
                };

                $scope.previewQuestions = [];
                $scope.authenticated = false;

                $scope.addOption = function (question) {
                    const nextLetter = String.fromCharCode('A'.charCodeAt(0) + question.options.length);
                    question.options.push({ letter: nextLetter, text: '' });
                };

                $scope.checkAuthentication = function () {
                    $.ajax({
                        url: '/isSessionAuthenticated',
                        method: 'GET',
                        success: function (response) {
                            if (!response.authenticated) {
                                // If not authenticated displaying the not authenticated messag
                                $('#notAuthenticatedMessage').show();
                                $scope.startCountdown(5); 
                            } else {
                               
                                $scope.$apply(function () {
                                    $scope.authenticated = true;
                                    console.log($scope.authenticated);
                                });
                            }
                        },
                        error: function (err) {
                            console.error('Error checking authentication:', err);
                        }
                    });
                };


                $scope.uploadImage = function () {

                    if ($scope.question.imageFromDevice) {
                      
                        var formData = new FormData();
                        formData.append('image', $scope.question.imageFromDevice);

                        $http.post('/upload', formData, {
                            transformRequest: angular.identity,
                            headers: {
                                'Content-Type': undefined
                            }
                        })
                            .then(function (response) {
                               var imagePath = response.data.imagePath;
                                console.log('Image uploaded successfully. ImagePath:', imagePath);
                            })
                            .catch(function (error) {
                                console.error('Error uploading image:', error);
                            });
                    }
                };

                // Function to start the dynamic countdown
                $scope.startCountdown = function (seconds) {
                    $scope.countdownValue = seconds;

                    var countdownInterval = $interval(function () {
                        $scope.countdownValue--;

                        if ($scope.countdownValue <= 0) {
                            $window.location.href = '/login';
                        }
                    }, 1000, seconds);

                    countdownInterval.then(function () {
                        // resetting countdown
                        $scope.countdownValue = 0;
                    });
                };

                $scope.addQuestion = function () {
                    $scope.questions.push({
                        question: '',
                        imageFromDevice: null,
                        imageUrl: '',
                        options: [
                            { letter: 'A', text: '' },
                            { letter: 'B', text: '' },
                            { letter: 'C', text: '' },
                            { letter: 'D', text: '' }
                        ],
                        timerValue: 10,
                        answer: ''
                    });
                };


                $scope.removeQuestion = function (index) {
                    $scope.questions.splice(index, 1);
                };



                $scope.previewQuiz = function () {
                    $scope.previewQuestions = angular.copy($scope.questions);


                    $('#previewModal').modal('show');
                };

                $scope.backToEditing = function () {
                    $('#previewModal').modal('hide');
                };

                $scope.confirmQuiz = function () {

                    var invalidImageCombination = $scope.questions.some(function (question) {
                        return (question.imageFromDevice && question.imageUrl) ;
                    });

                    if (invalidImageCombination) {
                        alert('Invalid image combination. Please either select an image from the device or paste an image URL.');
                        return;
                    }

                    var transformedQuestions = $scope.questions.map(function (question) {
                        return {
                            question: question.question,
                            imageFromDevice: question.imageFromDevice,
                            imageUrl: question.imageUrl,
                            options: question.options.map(function (option) {
                                return option.text;
                            }),
                            answer: question.answer,
                            timerValue: question.timerValue,
                        };
                    });


                    $.ajax({
                        url: '/addquiz',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            quizTopic: document.getElementById('quizTopic').value,
                            questions: transformedQuestions,
                            isRandom: document.getElementById('checkboxValue').innerHTML,
                            singleTime: document.getElementById('checkboxValue2').innerHTML,
                        }),
                        success: function (response) {

                            alert('Quiz added successfully');
                            window.location.href = '/myquizes';
                        },
                        error: function (err) {
                            console.error('Error:', err);
                            alert('Error adding quiz');
                        }
                    });
                    console.log('Quiz confirmed');
                    $('#previewModal').modal('hide');
                };

                $scope.addQuestion();
                $scope.checkAuthentication();
            });
        </script>
    </body>

    </html>